body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF; /* Change background color to blue */
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: #007BFF; /* Change background color to blue */
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

footer {
    background-color: #007BFF; /* Change background color to blue */
    color: #fff;
    text-align: center;
    padding: 10px;
}
